*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000000;
  font-family: "Syne", sans-serif;
}

.h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
}

.h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
}

.h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

html,
body {
  height: 100%;
  background: #FDFBF5;
  color: #000000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0 15px;
  margin: 30px auto;
}

.button {
  background-color: #000000;
  height: 40px;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 19px 11px 18px;
  cursor: pointer;
}

.button_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.button_arrow_black {
  height: 50px;
  line-height: 140%;
  padding: 0px;
}

.button_arrow_black:hover {
  background-color: #666666;
  color: #000000;
}

.button_arrow_white {
  background: #FDFBF5;
  height: 30px;
  border-radius: 3px;
  color: #000000;
  font-size: 12px;
  padding: 14px 21px 14px 0px;
}

.button_arrow_white:hover {
  background-color: #666666;
}

.button_arrow_readmore {
  -moz-column-gap: 6px;
       column-gap: 6px;
  height: 18px;
  width: 107.17px;
  background: #FDFBF5;
  color: #000000;
  font-size: 13px;
  line-height: 140%;
  padding: 0px;
}

.card__icon {
  height: 70px;
  width: 70px;
}

.card__whatwedo {
  height: 380px;
  width: 370px;
}

.card__whatwedo-overhead {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  color: #333333;
  text-transform: uppercase;
}

.card__whatwedo-title {
  margin: 8px 0px 0px;
}

.card__whatwedo-text {
  margin: 23px 0px 0px;
}

.card__whatwedo-button {
  margin: 39px 0px 0px;
}

.card__services {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 21px;
       column-gap: 21px;
  height: 167px;
  width: 269px;
}

.card__services-content {
  height: 100%;
  width: 100%;
}

.card__services-text {
  font-size: 14px;
  color: #333333;
  margin: 3px 0px 0px;
}

.card__services-button {
  margin: 25px 0px 0px;
}

.card__workprocess {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: 173px;
  width: 528px;
}

.card__workprocess-content {
  height: 100%;
  width: 100%;
}

.card__workprocess-text {
  color: #333333;
  margin: 13px 0px 0px;
}