h1,
h2,
h3,
h4,
h5 {
	color: $black;
	font-family: "Syne", sans-serif;
}
.h1 {
	font-weight: 600;
	font-size: 80px;
	line-height: 120%;
}
.h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
}
.h3 {
	font-weight: 500;
	font-size: 30px;
	line-height: 140%;
	text-transform: uppercase;
}
.h4 {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
}
.h5 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
}